
#index{
  background-image: url("img/Local58.jpg");
  background-repeat:repeat;
}
*{
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
}
a{
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
}
h1{
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
}

a:link{
    text-decoration: none;
    color: inherit;
}
a:active{
    text-decoration: none;
    color: white;
}
a:visited{
    text-decoration: none;
    color: white;
}
a:hover{
    color: cyan;
    
}
.texto{
    padding: 3em;
    width: 60%;
}
#index img{
    max-height: 500px;
}
#que_es{
    -webkit-text-stroke-width: 0.025em;
    -webkit-text-stroke-color: red;
}
#gifvhs{
    border-radius: 10px;
}


.contenedorOverlay {
  position: relative;
  width: auto;
}

.imagenOverlay {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.contenedorOverlay:hover .imagenOverlay {
  opacity: 0.3;
}

.contenedorOverlay:hover .middle {
  opacity: 1;
}

.textoOverlay {
  background-color: #000000;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


/*MEDIA QUERIES*/

@media (max-width: 480px) { 

 #columnasHermanos, .articuloTeoria {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important; 
    align-items: center !important;
  }

  #columnasHermanos .col {
    width: 100% !important;
    margin-bottom: 1em;
  }

  .articuloTeoria p { 

    width: 100% !important;
  }







}
